{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron bg-light">
    <div class="row">
      <div class="col-6">사진</div>
      <h3 class="display-6 d-inline mr-3">{{ person }}</h3>
      <form action="{% url 'accounts:follow' person.username %}" method="POST" class="d-inline">
        {% csrf_token %}
        {% if request.user not in person.followers.all %}
          <button class="btn btn-primary">팔로우</button>
        {% else %}
          <button class="btn btn-primary">팔로우취소</button>
        {% endif %}
      </form>
    </div>
    <hr class="my-4">
    <div class="row">
      <h5 class="col-2">게시물  <b>{{ person.post_set.all.count }}</b></h5>
      <h5 class="col-2">팔로워  <b>{{ person.followers.all.count }}</b></h5>
      <h5 class="col-2">팔로우  <b>{{ person.followings.all.count }}</b></h5>
    </div>
    <br>
    <h4>안녕하세요~ {{ person }}입니다 ^__^</h4>
  </div> 
  
  <hr class="my-4">
  
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4"></div>
  </div>

{% endblock  %}
