{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="row shadow bg-white mt-5 justify-content-center mx-0 px-0">
    <div class="col-7 p-0 justify-content-center align-items-center">
      {% if post.photo %}
        <img src="{{ post.photo.url }}" alt="{{ post.photo }}" style="max-width: 100%; height: auto;">
      {% endif %}
    </div>  

    <div class="col mt-4 mr-4">
      <div class="d-flex flex-row align-items-center">
        <a href="{% url 'accounts:profile' post.user %}">
        {% if post.user.profile_image %}
          <img src="{{ post.user.profile_image.url }}" alt="{{ post.user.profile_image }}" style="border-radius: 50%; width: 35px;">
        {% else %}
          <img src="{% static 'none_profile.jpg' %}" style="border-radius: 50%; width: 35px;">
        {% endif %}
        </a>

        <div class="d-flex flex-row align-items-baseline">
          <h5 class="ml-3"><a href="{% url 'accounts:profile' post.user %}" class="text-dark">{{ post.user }}</a></h5>
          <form action="{% url 'accounts:follow' post.user %}" method="POST">
            {% csrf_token %}
            {% if request.user != post.user %}
              {% if request.user not in post.user.followers.all %}
                <button class="btn btn-toolbar text-primary m-0"><b>팔로우</b></button>
              {% else %}
                <button class="btn btn-toolbar text-primary m-0"><b>팔로우 취소</b></button>
              {% endif %}
            {% endif %}
          </form>
        </div>

      </div>
      <hr class="my-3">

      <div class="d-flex flex-row align-items-start">
        <div class="col-1 pl-0 pt-1 d-none d-md-block">
          <a href="{% url 'accounts:profile' post.user %}">
            {% if post.user.profile_image %}
              <img src="{{ post.user.profile_image.url }}" alt="{{ post.user.profile_image }}" style="border-radius: 50%; width: 35px;">
            {% else %}
              <img src="{% static 'none_profile.jpg' %}" style="border-radius: 50%; width: 35px;">
            {% endif %}
          </a>
        </div>
          
        <div class="col pl-2 ml-2 d-none d-md-block">
          <p class="mb-1">
            <a href="{% url 'accounts:profile' post.user %}"><b class="mr-1 my-0 text-dark">{{ post.user }}</b></a>
            {% for word in post.content.split %}
              {{ word }}
            {% endfor %}
            <br>
            {% for tag in post.hashtags.all %}
              <a href="{% url 'posts:click_tag' tag.content %}">{{ tag.content }}</a>
            {% endfor %}
          </p>
          <p class="text-black-50">{{ post.created_at|date:'m월 d일' }}</p>
        </div>
      </div>

      {% if comments %}
        <div class="d-none d-md-block" style="overflow:auto; height: 150px;">
        {% for comment in comments %}
          <div class="d-flex align-items-start mb-0">

            <div class="col-1 pl-0 pt-1">
              <a href="{% url 'accounts:profile' comment.user %}">
                {% if comment.user.profile_image %}
                  <img src="{{ comment.user.profile_image.url }}" alt="{{ comment.user.profile_image }}" style="border-radius: 50%; width: 35px;">
                {% else %}
                  <img src="{% static 'none_profile.jpg' %}" style="border-radius: 50%; width: 35px;">
                {% endif %}
              </a>
            </div>
            
            <div class="col ml-3 h-auto">
              <div class="row pb-0">
                <p class="mr-3 mb-1">
                  <a href="{% url 'accounts:profile' comment.user %}" class="text-dark"><b>{{ comment.user }}</b></a> {{ comment.content }}
                </p>
              </div>

              <div class="row">
                <p class="text-black-50 mt-0 pt-0">{{ comment.created_at|timesince }} 전</p>
                {% if request.user == comment.user %}
                  <form action="{% url 'posts:delete_comment' post.pk comment.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="text-danger border-0 bg-white pl-2 ml-2">삭제</button>
                  </form>
                {% endif %}
              </div>
            </div>


          </div>
        {% endfor %}
        </div>
      {% else %}
        <p>아직 작성된 댓글이 없습니다.</p>
      {% endif %}
      <hr class="my-2 d-none d-md-block">
    
      <form action="{% url 'posts:like' post.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user in post.like_users.all %}
          <button class="fas fa-heart fa-2x border-0 bg-white"></button>
        {% else %}
          <button class="far fa-heart fa-2x border-0 bg-white"></button>
        {% endif %}
        <i class="far fa-comment fa-2x ml-2"></i>
        <i class="far fa-paper-plane fa-2x ml-2"></i>
      </form>
      <p class="ml-1 mt-1 mb-0"><b>좋아요 {{ post.like_users.all.count }}개</b></p>
      <hr class="my-2">  
      
      <form action="{% url 'posts:create_comment' post.pk %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button class="border-0 bg-white text-primary"><b>게시</b></button>
      </form>
    </div>

  </div>  





  <hr>
  {% if request.user == post.user %}
    <form action="{% url 'posts:delete' post.pk %}" method="POST">
      {% csrf_token %}
        <a class="btn btn-dark" href="{% url 'posts:update' post.pk %}">게시글 수정</a>
        <button class="btn btn-danger">게시글 삭제</button>
    </form>  
  {% endif %}


{% endblock  %}



