{% extends 'base.html' %}

{% block content %}

  <div class="row shadow bg-white mt-5 justify-content-center mx-0 px-0">
    <!-- 포스팅 사진 -->
    <div class="col-7 p-0 justify-content-center align-items-center">
      {% if post.photo %}
        <img src="{{ post.photo.url }}" alt="{{ post.photo }}" style="max-width: 100%; height: auto;">
      {% endif %}
    </div>  

    <div class="col mt-4">
      <!-- 작성자 정보 -->
      {% include 'posts/details/_header.html' %}
      <hr class="my-3">

      <!-- 게시글 내용 -->
      {% include 'posts/details/_content.html' %}

      <!-- 댓글 & 좋아요 관련 -->
      {% include 'posts/details/_footer.html' %}
    </div>
  </div>  
  <hr>

  <!-- only 작성자 : 수정 & 삭제 -->
  {% if request.user == post.user %}
    <form action="{% url 'posts:delete' post.pk %}" method="POST">
      {% csrf_token %}
        <a class="btn btn-dark" href="{% url 'posts:update' post.pk %}">게시글 수정</a>
        <button class="btn btn-danger">게시글 삭제</button>
    </form>  
  {% endif %}

{% endblock  %}



